<div class="front-office">
    <div class="front-office-content">
        <div class="grid">
            <div class="col-fixed" style="width: 271px;">
                <div id="vertical-menu">
                    <div class="py-1">
                        <span class="vertical-menu-title">Categorias</span>
                    </div>
                    <ul>
                        <li *ngFor="let item of categories; let i=index" class="flex gap-2" (click)="selectedCategory(i)" [ngClass]="{'active': item.active}">
                            <div class="flex flex-column">
                                <span class="vertical-menu-item-title">{{item.name}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col questions-content">
                <h3>Aplicação Front Office</h3>
                <h4>Simulação da tela de FAQ do usuário/consumidor final do produto</h4>
                <div *ngIf="loadingQuestions; else notLoadingTemplate" class="flex justify-content-center">
                    <app-loading></app-loading>
                </div>
                <ng-template #notLoadingTemplate>
                    <p-accordion *ngFor="let question of questions">
                        <p-accordionTab [header]="question.question">
                           {{question.answer}}
                        </p-accordionTab>
                    </p-accordion>
                </ng-template>
            </div>
        </div>
    </div>
</div>