<div class="flex flex-wrap justify-content-center m-6 gap-4">

    <!-- Interpolation -->
    <!-- Usa-se chaves duplas como delimitadores. -->
    <div class="card">
        <h3>Interpolation</h3>
        <span>__ Ref.: Incorporar expressões em um texto marcado. __</span>
        <hr>
        <b>Olá {{name}}!</b>
    </div>

    <!-- Property binding -->
    <!-- Usa-se colchetes com uma variável. -->
    <div class="card">
        <h3>Property binding</h3>
        <span>__ Ref.: Associar propriedades de elementos e componentes. __</span>
        <hr>
        <img [src]="imgUrl" alt="logo">
    </div>

    <!-- Event binding -->
    <div class="card">
        <h3>Event binding</h3>
        <span>__ Ref.: Ouvir e responder às ações do usuário. __</span>
        <hr>
        <button (click)="onSave()">Cool!</button>
    </div>

    <!-- Inputs and Outputs -->
    <div class="card">
        <h3>Inputs and Outputs</h3>
        <span>__ Ref.: Compartilhamento de dados entre pai e filho.</span>
        <span>@Input para enviar dados para o filho.</span>
        <span>@Output para enviar dados para o pai. __</span>
        <hr>
        <app-primary-button label="Me clique" (clickEmitter)="outputClicked($event)"></app-primary-button>
    </div>

</div>