<div class="login-content">
    <p-message *ngIf="errorMsg" severity="error" [text]="errorMsg"></p-message>
	<div class="main">
        <div class="signup">
            <form [formGroup]="loginForm">
                <label aria-hidden="true">Login</label>
                <div>
                    <input id="username" type="text" placeholder="Usuário" pInputText formControlName="userControl">
                    <small [ngClass]="{'hidden' : loginForm.get('userControl')?.valid || !loginForm.get('userControl')?.touched}" id="username-help" class="p-error block">Usuário inválido.</small>
                </div>
                <div>
                    <input id="password" type="password" placeholder="Senha" pInputText formControlName="passwordControl" (keyup.enter)="login()">
                    <small [ngClass]="{'hidden' : loginForm.get('passwordControl')?.valid || !loginForm.get('passwordControl')?.touched}" id="password-help" class="p-error block">Senha inválida.</small>
                </div>
                <button type="button" (click)="login()">Entrar</button>
            </form>
        </div>
	</div>
</div>